body {
    background-color: #0f0e11;
}
.logo_container {
    height: 50vh;
}
.logo {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
.wetube {
    font-size: 60px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: rgb(140, 234, 247);
}
p {
    font-size: 20px;
}
.welcome {
    color: white;
    font-size: 30px;
}
.midp {
    margin-top: 0px;
    margin-bottom: 10px;
}
.demop {
    margin-top: 25px;
}
.userp {
    margin-bottom: 5px;
    margin-top: 5px;
}
.landing_page {
    background-color: #0f0e11;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.emphasis_p {
    font-size: 25px;
    margin-top: 0px;
    font-style: italic;
}
.landing_container {
    background-color: #322f37;
    width: 80%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(140, 234, 247);
    border-radius: 10px;
    margin-bottom: 25px;
}
.mainpage_screenshot {
    width: 90%;
}
.mainpage_screenshot img {
    border-radius: 10px;
}
@media screen and (max-width: 14px) {
    .landing_page {
        height: 100%;
    }
    .landing_nav {
        position: static;
    }
}